
// Base
@import "./base/variables";
@import "./base/mixins";
@import "./base/reset";
@import "./base/common";

// Components
@import "./components/header";
@import "./components/form";
@import "./components/filterbar";
@import "./components/searchbar";

// Pages
@import "./pages/home";
@import "./pages/diseaseprediction";
@import "./pages/doctors";
@import "./pages/landingpage";
@import "./pages/medicines";
@import "./pages/medicinedetails";
@import "./pages/meetpage";
@import "./pages/success";
@import "./pages/errorpage";
@import "./pages/checkout";
@import "./pages/chatbot";
@import "./pages/orders";
@import "./pages/dispred";
@import "./pages/mywallet";
